.menu {}

.logo {
    width: 30px;
    height: 30px;
}

.left {
    display: inline-block;
    width: 40%;
}

.right {
    display: inline-block;
    width: 40%;
}

.container {
}

.text {
    padding: 8px 16px;
    border-style: dotted;
}

.password {
    padding: 10px 20px;
    border-left: 10px solid red;
}

.img2 {
    width: 100px;
}

.img3 {
    width: 100px;
}

.img4 {
    width: 200px;
}

.footer {
    background-color: cornflowerblue;
    padding: 20px;
    border-style: double dotted inset dashed;
    border-width: 10px;
    margin: 40px;
}