.menu {}

.logo {
    width: 30px;
    height: 30px;
}

.menuItem {
    text-decoration: none;
    color: inherit;
}

.left {
    display: inline-block;
    width: 40%;
}

.blockElement {
    display: block;
    margin-bottom: 12px;
    padding: 8px 16px;
}

.logIn {
    background-color: #0a7cff;
    border: 1px solid #0084ff;
    color: white;
    border-radius: 24px;
    font-size: 19px;
    padding: 2px 20px;
    height: 40px;
    width: auto;
    margin-top: 20px;
}

.logIn1 {
    margin-left: 20px;
}

.right {
    display: inline-block;
    width: 40%;
}

.container {
}

.img2 {
    width: 100px;
}

.img3 {
    width: 100px;
}

.img4 {
    width: 200px;
}

.footer {
    background-color: cornflowerblue;
    padding: 20px;
    border-style: double dotted inset dashed;
    border-width: 10px;
    margin: 40px;
}